
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <div th:each="task_id : ${#numbers.sequence(0, tasks.size()-1)}">
        <h2 th:text="${tasks.get(task_id).getId()}"></h2>
        <table>
            <tr>
                <th>STUDENT</th>
                <th>BUILDS</th>
                <th>TESTS</th>
                <th>COVERAGE</th>
                <th>CHECKSTYLE</th>
                <th>SOFT</th>
                <th>HARD</th>
                <th>POINTS</th>
            </tr>
            <tr th:each="result : ${results.get(task_id)}">
                <td th:text="|${result.student().getName()} (${result.student().getUsername()})|"></td>
                <td th:text="${result.builds()} ? 'Yes' : 'No'"></td>
                <td th:text="|${result.testCount()-result.failCount()-result.skipCount()}/${result.failCount()}/${result.skipCount()}|"></td>
                <td th:text="|${result.coverage()}%|"></td>
                <td th:text="${result.checkstyle()}"></td>
                <td th:text="${result.softPass()} ? 'Yes' : 'No'"></td>
                <td th:text="${result.hardPass()} ? 'Yes' : 'No'"></td>
                <td th:text="${result.points()}"></td>
            </tr>
        </table>
    </div>
</table>


<table>
    <div th:each="group_id : ${#numbers.sequence(0, groups.size()-1)}">
        <h2 th:text="${groups.get(group_id).getName()}"></h2>
        <table>
            <tr>
                <th>STUDENT</th>
                <th>POINTS</th>
                <th>MARK</th>
            </tr>
            <tr th:each="student_id : ${#numbers.sequence(0, groups.get(group_id).getGroupStudents().size()-1)}">
                <td th:text="|${groups.get(group_id).getGroupStudents().get(student_id).getName()} (${groups.get(group_id).getGroupStudents().get(student_id).getUsername()})|"></td>
                <td th:text="${groups.get(group_id).getGroupStudents().get(student_id).getPoints()} "></td>
                <td th:text="|${groups.get(group_id).getGroupStudents().get(student_id).getGrade()} "></td>

            </tr>
        </table>
    </div>
</table>

</body>
</html>
